{{ define "main" }}
<main role="main">

<div class="container">
    <div class="row">
        <h1 class="title">WORD2VEC</h1>
        <h2 class="subtitle">Word embedding functions</h2>
    </div>

    <div class="row">
        <div id="similar" class="col-md-6">
            <div class="box">
                <h2>Top N similar</h2>
                <p>Find the most similar words</p>
                <div class="container">
                    <div class="row">
                        <div id="similar" class="col-6 first-col">
                            <input v-model="word" type="text" placeholder="WORD">
                        </div>
                        <div id="similar" class="col-6">
                            <a class="button" v-on:click="query" href="#">Query</a>
                        </div>
                    </div>
                </div>

                <div class="response">
                    <table v-if="data.length > 0">
                        <thead>
                            <tr>
                                <th class="word">Word</th>
                                <th class="distance">Distance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entry in data">
                                <td class="word">{{ "{{ entry[0] }}" }}</td>
                                <td class="distance">{{ "{{ entry[1] }}" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p class="error">{{ "{{ error }}" }}</p>

                <p class="small">For example: 
                    <a v-on:click="ex_france" href="#">France</a>,
                    <a v-on:click="ex_san_francisco" href="#">San Francisco</a>,
                    <a v-on:click="ex_apple" href="#">Apple</a>,
                    <a v-on:click="ex_dog" href="#">Dog</a>.
                </p>
            </div>
        </div>

        <div id="analogy" class="col-md-6">
            <div class="box">
                <h2>Word Analogies</h2>
                <p>Find the most similar words</p>
                <div class="container">
                    <div class="row">
                        <div class="col-6 first-col"><input v-model="pos[0].v" type="text" placeholder="POSITIVE"></div>
                        <div class="col-6"><input v-model="neg[0].v" type="text" placeholder="NEGATIVE"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 first-col"><input v-model="pos[1].v" type="text" placeholder="POSITIVE"></div>
                        <div class="col-6"><input v-model="neg[1].v" type="text" placeholder="NEGATIVE"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 first-col"><input v-model="pos[2].v" type="text" placeholder="POSITIVE"></div>
                        <div class="col-6"><input v-model="neg[2].v" type="text" placeholder="NEGATIVE"></div>
                    </div>
                    <div class="row">
                        <a class="button" v-on:click="query" href="#">Query</a>
                    </div>
                </div>
                <div class="response">
                    <table v-if="data.length > 0">
                        <thead>
                            <tr>
                                <th class="word">Word</th>
                                <th class="distance">Distance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entry in data">
                                <td class="word">{{ "{{ entry[0] }}" }}</td>
                                <td class="distance">{{ "{{ entry[1] }}" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p class="error">{{ "{{ error }}" }}</p>

                <p class="small">For example: 
                    <a v-on:click="ex_queen" href="#">King - Man + Woman</a>,
                    <a v-on:click="ex_cold" href="#">Hot - Summer + Winter</a>,
                    <a v-on:click="ex_niece" href="#">Girl - Boy + Nephew</a>,
                    <a v-on:click="ex_madrid" href="#">France + Italy + Spain - Paris - Rome</a>,
                    <a v-on:click="ex_unicorn" href="#">Mythical creature + horse + magical</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <p class="footer">
            <a href="https://github.com/danielfrg/word2vec-app">Code on Github</a>.
            <a href="https://danielfrg.com/blog/2018/09/word2vec-app-algorithmia/">More info</a>.
            Built by <a href="https://danielfrg.com/">Daniel Rodriguez</a>.
            Powered by <a href="https://algorithmia.com/algorithms/danielfrg/word2vec">Algorithmia</a>.
        </p>
        </div>
    </div>

</div>
</main>

<script src="/js/app.js"></script>
{{ end }}
